# ASTR 1040 Problem Set 2

For reference, all of the `astropy` constants as well as examples can be found [here](https://docs.astropy.org/en/stable/constants/index.html). Likewise all of the units and their names / how to access them can be found [here](https://docs.astropy.org/en/stable/units/index.html).

To create a variable with units you need to multiply by the corresponding unit class:

```python
d = 1 * units.au
```

You can then convert unitful quantities to other units by calling the `to` method and passing the desired end unit class: 

```python
d_m = d.to(units.m)
```

If you have a ratio of quanities where all the units should cancel out, you can obtain the dimensionles number using the `dimesionless_unscaled` method. For example writing:
```python
d_m/d
``` 
yields $1.4959787\times 10^{11} \rm{\frac{m}{AU}}$, but doing:
```python
(d_m/d).to(units.dimensionless_unscaled)
```
returns `1.0` as expected.

If you get weird units at the end but you think your answer should be right, you can always try converting them to SI units with the `.si` method (i.e. `d.si`).

For a more general Python cheatsheet, check the top of your PS1 notebook.

### Don't forget to run the cell below before starting your homework!!!

In [1]:
#SETUP CELL (modify at your own peril)
from astropy import units #access units by doing units.<unit> (i.e. units.au)
from astropy import constants
import numpy as np #common math functions (i.e. np.sin(x)) and better arrays (i.e. np.array([1,2,3])
import matplotlib.pyplot as plt #plotting functions (i.e. plt.plot(x,y))
G = constants.G # gravitational constant
M_sun = constants.M_sun # mass of the sun
R_sun = constants.R_sun # radius of the sun
L_sun = constants.L_sun # luminosity of the sun
M_earth = constants.M_earth # mass of the earth
R_earth = constants.R_earth # radius of the earth
M_jup = constants.M_jup # mass of jupiter
R_jup = constants.R_jup # radius of jupiter
sigma_sb = constants.sigma_sb # Stefan-Boltzmann constant
c = constants.c # speed of light
h = constants.h # Planck constant
k_B = constants.k_B # Boltzmann constant
m_e = constants.m_e # mass of electron
m_p = constants.m_p # mass of proton 
m_n = constants.m_n # mass of neutron (basically just the mass of a proton but whatever)
g0 = constants.g0 # standard gravity, 9.8 m/s^2
e = constants.e # absolute value of electron/proton charge

## Q1 (20 points)

### Properties of stars

Consider the stellar data in the following table (run the code cell below to see the table!):

In [2]:
import pandas as pd
d = {
    "Star": ["Aldebaran","Alpha Centauri A","Antares","Canopus","Fomalhaut","Regulus","Sirius","Spica"],
    "Absolute magnitude": [-0.2,4.4,-4.5,-3.1,2.0,-0.6,1.4,-3.6],
    "Apparent magnitude": [0.9,0.0,0.9,-0.7,1.2,1.4,-1.4,0.9],
    "Spectral type": ["K5","G2","M1","F0","A3","B7","A1","B1"],
    "Luminosity class": ["III","V","I","II","V","V","V","V"]
}
data = pd.DataFrame(data=d)
data

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
0,Aldebaran,-0.2,0.9,K5,III
1,Alpha Centauri A,4.4,0.0,G2,V
2,Antares,-4.5,0.9,M1,I
3,Canopus,-3.1,-0.7,F0,II
4,Fomalhaut,2.0,1.2,A3,V
5,Regulus,-0.6,1.4,B7,V
6,Sirius,1.4,-1.4,A1,V
7,Spica,-3.6,0.9,B1,V

This is a [pandas DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html), a common tool used in the sciences / industry to store and display data in Python. It has many useful features which you won't really need to use, but one really nice feature that may be helpful for you in answering this first question is that you can sort DataFrames very easily. For example, if we wanted to re-sort the DataFrame above in terms of absolute magnitude, we could run the following command:

In [13]:
data.sort_values(by=['Absolute magnitude'])

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
2,Antares,-4.5,0.9,M1,I
7,Spica,-3.6,0.9,B1,V
3,Canopus,-3.1,-0.7,F0,II
5,Regulus,-0.6,1.4,B7,V
0,Aldebaran,-0.2,0.9,K5,III
6,Sirius,1.4,-1.4,A1,V
4,Fomalhaut,2.0,1.2,A3,V
1,Alpha Centauri A,4.4,0.0,G2,V

Now you can see that everything is sorted in terms of absolute magnitude, running from smallest to largest. Full documentation for the sort command is available [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html).

### a.) Which star appears brightest and which appears faintest in our sky? Answer using the Markdown and/or code cells below:

In [5]:
data.sort_values(by=['Apparent magnitude'])

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
6,Sirius,1.4,-1.4,A1,V
3,Canopus,-3.1,-0.7,F0,II
1,Alpha Centauri A,4.4,0.0,G2,V
0,Aldebaran,-0.2,0.9,K5,III
2,Antares,-4.5,0.9,M1,I
7,Spica,-3.6,0.9,B1,V
4,Fomalhaut,2.0,1.2,A3,V
5,Regulus,-0.6,1.4,B7,V

*By sorting by apparent magnitude, we can see that Sirius is the brightest and Regulus the faintest stars in the table.*

### b.) Which star has the greatest luminosity and which has the lowest? Answer using the Markdown and/or code cells below:

In [7]:
data.sort_values(by=['Absolute magnitude'])

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
2,Antares,-4.5,0.9,M1,I
7,Spica,-3.6,0.9,B1,V
3,Canopus,-3.1,-0.7,F0,II
5,Regulus,-0.6,1.4,B7,V
0,Aldebaran,-0.2,0.9,K5,III
6,Sirius,1.4,-1.4,A1,V
4,Fomalhaut,2.0,1.2,A3,V
1,Alpha Centauri A,4.4,0.0,G2,V

*By sorting by absolute magnitude, we see that Antares is the most luminous and Alpha Centauri A the least luminous stars in the table.*

### c.) Which star has the highest surface temperature and which has the lowest? Answer using the Markdown and/or code cells below:

In [9]:
data.sort_values(by=['Spectral type'])

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
6,Sirius,1.4,-1.4,A1,V
4,Fomalhaut,2.0,1.2,A3,V
7,Spica,-3.6,0.9,B1,V
5,Regulus,-0.6,1.4,B7,V
3,Canopus,-3.1,-0.7,F0,II
1,Alpha Centauri A,4.4,0.0,G2,V
0,Aldebaran,-0.2,0.9,K5,III
2,Antares,-4.5,0.9,M1,I

*Sorting by spectral type groups them all together, but we have to remember astronomy is weird and the B stars are actually the hottest. Lower number also means hotter, so B1 = Spica is the hottest star in the table. Conversely M stars are the coldest, so M1 = Antares is the coolest star.*

### d.) Which star is most similar to the Sun? Answer using the Markdown and/or code cells below:

*We can look at the same sorting as before &mash; we know the Sun is a G2V star, so Alpha Centauri A (also class G2V) is the most similar!*

### e.) Which star is a red supergiant? Answer using the Markdown and/or code cells below:

In [10]:
data.sort_values(by=['Luminosity class'])

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
2,Antares,-4.5,0.9,M1,I
3,Canopus,-3.1,-0.7,F0,II
0,Aldebaran,-0.2,0.9,K5,III
1,Alpha Centauri A,4.4,0.0,G2,V
4,Fomalhaut,2.0,1.2,A3,V
5,Regulus,-0.6,1.4,B7,V
6,Sirius,1.4,-1.4,A1,V
7,Spica,-3.6,0.9,B1,V

*Class I = supergiant and red = M stars, so Antares is the red supergiant*

### f.) Which star has the largest radius? Answer using the Markdown and/or code cells below:

*$r^2\propto \frac{L}{T^4}$ so we want the brightest **and** coolest star, which is again Antares!*

### g.) Which stars have finished burning hydrogen in their cores? Answer using the Markdown and/or code cells below:

*Again we can look at the sorting by luminosity class &mdash; any that aren't V are off the main sequence. Thus the answers are Antares, Canopus, and Aldebaran.*

### h.) Among the main-sequence stars listed, which is the most massive? Answer using the Markdown and/or code cells below:

In [12]:
data.sort_values(by=['Spectral type'])[data['Luminosity class'] == "V"]

/tmp/ipykernel_6559/2398344310.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data.sort_values(by=['Spectral type'])[data['Luminosity class'] == "V"]

,Star,Absolute magnitude,Apparent magnitude,Spectral type,Luminosity class
6,Sirius,1.4,-1.4,A1,V
4,Fomalhaut,2.0,1.2,A3,V
7,Spica,-3.6,0.9,B1,V
5,Regulus,-0.6,1.4,B7,V
1,Alpha Centauri A,4.4,0.0,G2,V

*We know that hotter stars are more massive, so grouping again by spectral type but this time filtering out non-main sequence stars shows that Spica (B1) will be the most massive as it is the hottest*.

### i.) Among the main-sequence stars listed, which has the longest lifetime? Answer using the Markdown and/or code cells below:

*This is just the reverse logic of the previous question &mdash; the one that will live the longest is the coolest main sequence star, and G2 is the coolest of the spectral types listed in the table so the longest lived main sequence star in this sample is Alpha Centauri A.*

## Q2 (60 points)

### Calculating the physical properties of stars from observables: Procyon

Procyon is the 7th brightest star in the sky. From telescope observations, we know that the wavelength of maximimum intensity, $\lambda_{\rm{max}}$, is about $444$ $\rm{nm}$ and the total intensity (apparent brightness) is $1.81\times 10^{-8}$ $\rm{\frac{W}{m^2}}$. The measured parralax angle for Procyon is $285$ $\rm{mas}$ (milliarcseconds).

### a.) How far away is Procyon? Use the code cell below to calculate and provide your answer in lightyears.

In [13]:
α = 285*units.mas
base = 1*units.AU #base of parallax triangle
d = base/(α.to(units.rad).value) #small angle approximation, could also do np.sin(α) or np.tan(α)
print("Procyon is approximately {:.2f} away".format(d.to(units.lyr)))

Procyon is approximately 11.44 lyr away

### b.) What is the luminosity of Procyon? Use the code cell below to calculate and express your answer in terms of $L_\odot$.

In [19]:
i = 1.81e-8*units.W/(units.m**2) #intensity as given in problem
L = 4*np.pi*d**2*i #d as calculated in a
ratio = (L/L_sun).to(units.dimensionless_unscaled)
print("Procyon is {:.2f}x brighter than the Sun".format(ratio))

Procyon is 6.97x brighter than the Sun

### c.) What is the surface temperature of Procyon? Use the code cell below to calculate and provide your answer in K.

In [25]:
#forgot to give them Wien's displacement constant...but I trust them to figure it out
b = constants.b_wien #alternatively can just do b = 2.9e-3 * units.K * units.m if they do it themselves
λ_max = 444*units.nm #given in problem
T = b/λ_max
print("Procyon is approximately {:.2f}".format(T.si))

Procyon is approximately 6526.51 K

### d.) What is the intensity of light at Procyon's surface? Use the code cell below to calculate and provide your answer in $\frac{W}{m^2}$.

In [31]:
i_surface = sigma_sb*T**4 #T from previous problem, Stefan-Boltzmann
print("The intensity of light at Procyon's surface is approximately {:.4g}".format(i_surface.to(units.W/(units.m**2))))

The intensity of light at Procyon's surface is approximately 1.029e+08 W / m2

### e.) What is Procyon's surface area? What is its radius? Use the code cell below to calculate both values, and compare the radius to our Sun's.

In [33]:
SA = L/i_surface #Stefan-Boltzmann
print("Procyon's surface area is approximately {:.4g}".format(SA.si))
r = np.sqrt(SA/(4*np.pi))
print("and its radius is then roughly {:.4g}".format(r.to(units.R_sun)))

Procyon's surface area is approximately 2.592e+19 m2
and its radius is then roughly 2.064 solRad

### f.) Procyon is half of a binary system. The two stars are separted by 4.3 arcseconds (semimajor axis) and have an orbital period of 40.82 years. What is the combined mass of both stars in the Procyon system? Use the code cell below to calculate and express your answer in terms of solar masses ($M_\odot$).

In [36]:
angular_sep = 4.3*units.arcsecond #given
P = 40.82*units.yr #given

a = (angular_sep.to(units.rad).value) * d #semi-major axis in physical units (can also do trig here, this is arc length formula)
total_mass = 4*np.pi**2*a**3/(G*P**2)
print("The total mass of the binary is roughly {:.2f}".format(total_mass.to(units.M_sun)))

The total mass of the binary is roughly 2.06 solMass

## Q3 (10 points)
What is the most fundamental property of stars? Why? Use the markdown cell below to provide your answer.

*Mass. Mass sets the strength of the force of gravity. As a result of the condition of hydrostatic equilibrium, this
sets the equilibrium temperature and pressure which in turn sets the fusion rate and hence the luminosity and
lifetime of stars.*

## Q4 (10 points)

How do we age date stars? Use the markdown cell below to provide your answer.

*We need a star cluster. If we have a star cluster we can use the main sequence turnoff to estimate the age of the
cluster. The lifetime of the most massive stars still on the main sequence give us the age of the star cluster.*